{% extends "base.html" %}
{% block head %}
<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="../static/images/favicon.ico}" type="image/x-icon">
<link rel="stylesheet" href="../static/css/blog.css">
{% endblock %}

{% block header_title %}
{{ title }}
{% endblock %}

{% block header_subtitle %}
该标签的文章都在这了
{% endblock %}

{% block content %}
<h2>{{ tag }}</h2>
{% if posts %}
{% for p in posts %}
<ul class="post-list">
    <li class="post-item">
        <a href="/post/{{p.datetime.split('-')[0]}}/{{p.datetime.split('-')[1]}}/{{p.url}}" class="post-link">{{p.title}}</a>
    </li>
</ul>
{% endfor %}
{% endif %}
{% endblock %}