{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>
    ul.tag-list {
        padding: 0;
        list-style: none;
    }
    li.tag {
        display: inline-block;
        margin: 10px;
    }
    li.tag a {
        color: #2479CC;
        text-decoration: none;
        transition: all 0.2s ease-out;
    }
    li.tag a:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block header_title %}
{{ title }}
{% endblock %}

{% block header_subtitle %}
所有的标签都在这了
{% endblock %}

{% block content %}
{% if data %}
<ul class="tag-list">
    {% for d in data %}
    <li class="tag" style="font-size: {{d.count}}%">
        <a href="/tag/{{d.tag}}">{{d.tag}}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}