body {
	margin: 0;
	padding: 0;
	min-height: 100%;
    position: absolute;
    width: 100%;
	font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #4b505a;
    background-color: #f5f5f5;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h2 { font-size: 20px; }

h2:after,h3:after,h4:after,h5:after,h6:after {
    display: block;
    content: " ";
    margin-top: 8px;
    width: 40px;
    border-bottom: 3px solid rgb(21, 124, 226);
}

h3:after,h4:after,h5:after,h6:after {
    border-bottom: 2px solid rgb(158, 202, 247);
}

blockquote {
	color: #666;
    border-left: 4px solid #ddd;
    padding-left: 20px;
    margin-left: 0;
    font-size: 14px;
    font-style: italic;
}

p a {
text-decoration: none;
color: #157ce2;
padding: 2px 3px;
}

p a:hover {
	color: #fff;
	background-color: #157ce2;
	border-radius: 3px;
}

table {
  	border-collapse:collapse;
	width: 100%;
}

table,th, td {
  	border: 1px solid #999;
}

img {
	margin: 0 auto;
    display: block;
	max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


pre {
	padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f6f6f6;
    overflow: auto;
}

code {
	padding: 3px 5px;
    border: 1px solid #ddd;
    background: #f6f6f6;
    border-radius: 2px;
    margin: 0 5px;
    color: #555;
}

.float-left { float: left; }

.float-right { float: right; }

.clear { clear: both; }

/* header css */
#header {
	width: 100%;
	height: 360px;
	color: #fff;
	background: url(../images/bg4.jpg);
	background-position: center;
    background-size: cover;
}

@media (min-width: 768px) {
  .header-container,.main-container,.footer-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .header-container,.main-container,.footer-container {
    width: 850px;
  }
}
@media (min-width: 1200px) {
  .header-container,.main-container,.footer-container {
    width: 850px;
  }
}

.header-container {
	margin: 0 auto;
	padding: 30px 0;
}

.header-nav {
	font-size: 16px;
	font-weight: 600;
}

.header-nav a {
	text-decoration: none;
	color: #fff;
}

.header-logo,.nav {
	display: inline-block;
}

.header-nav .nav a {
	display: inline-block;
    padding: 5px;
    margin: 0 5px;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
}

.header-nav .nav a:hover {
	background: rgba(0,0,0,0.2);
}

.header-content {
	padding: 70px 30px 0;
	text-align: center;
}

.header-content .header-title {
	margin: 15px 0;
}

.underline {
	display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 50px;
    border-bottom: 3px solid rgb(21, 124, 226);
}

.header-content p.header-subtitle {
	font-style: italic;
}

.header-date {
    font-size: 12px;
    opacity: 0.8;
}

.header-date span {
    margin: 0 10px;
}

.header-date a {
    color: #eee;
    text-decoration: underline;
}

.header-date a:hover {
    color: #fff;
    background: none;
}


/* main css */
#main {
	margin: 30px 0;
	padding-bottom: 90px;
}

.main-container {
	margin: 0 auto;
	padding: 20px 30px;
	background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

ul.post-list {
	margin-top: 30px;
    padding-left: 50px;
    list-style: none;
}

li.post-item {
	padding: 3px;
}

li.post-item span {
	font-size: 14px;
	color: #777;
    margin-right: 20px;
}

li.post-item a {
	text-decoration: none;
	color: rgb(21, 124, 226);
}

li.post-item a:hover {
	color: #145ba2;
    border-bottom: 1px solid #145ba2;
}


/* footer css */
#footer {
	background: #333 url(../images/footer-bg.png) left top repeat;
	bottom: 0;
	width: 100%;
	height: 88px;
    position: absolute;
}

#footer p {
	margin: 0;
}

.footer-container {
	text-align: center;
	margin: 0 auto;
	padding: 8px 0;
    color: #999;
    font-size: 13px;
}

.footer-container a {
	text-decoration: none;
	color: #666;
}

.footer-container a:hover {
	color: #999;
}


